{% extends "base.html" %}

{% block style %}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
{% endblock %}

{% block body_block %}

<h1>Remote Scanner WebGUI</h1>
      <h3>Easily Scan your Documents / Images from your web-browser</h3>
      <h5>Software (c) Filip Rec</h5>
      <hr>
          <br>

          <form name="settings" id="settings" action="{{ url_for('scan_view') }}" method=POST>

            <div class="form-group">
              <label for="format">Format</label>
              <select name="format" class="form-control">
                <option value="jpeg" selected>JPEG</option>
                <option value="png">PNG</option>
                <option value="tiff" disabled>TIFF (not implemented)</option>
              </select>
            </div>
            <div class="form-group">
              <label for="resolution">Rozdzielczość</label>
              <select name="resolution" class="form-control">
               <option value="75">75 DPI</option>
               <option value="100">100 DPI</option>
               <option value="200">200 DPI</option>
               <option value="300">300 DPI</option>
               <option value="600">600 DPI</option>
               <option value="1200">1200 DPI</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="colortype">Typ skanu</label>
              <select name="colortype" class="form-control">
               <option value="Lineart">Czarno-biały</option>
               <option value="Gray">Odcienie szarości</option>
               <option value="Color" selected>W kolorze</option>
              </select>

            <div class="form-group">
              <label for="device">Device</label>
              <select name="device" class="form-control" required>
              {% for device in devices %}
               <option value="{{ device.name }}">{{ device }}</option>
              {% endfor %}
              </select>

            <br>

            <div class="form-group">
              <button type="submit" id="submitbutton" class="btn btn-success">Skanuj</button>
              <button type="reset" class="btn btn-danger">Resetuj</button>
            </div>   
          </form>

<script>

$.fn.isValid = function(){
    console.log(this[0].checkValidity())
    return this[0].checkValidity()
}

$(document).ready(function () {
    var intputElements = document.getElementsByTagName("select");
    for (var i = 0; i < intputElements.length; i++) {
        intputElements[i].oninvalid = function (e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                if (e.target.name == "device") {
                    e.target.setCustomValidity("The field 'Device' cannot be left blank, make sure your scanner is connected and visible by running 'scanimage -L' from your command line.");
                }
            };
        };
    };
})

$('#settings').submit(function (event){
    if ($('#settings').isValid()) {   
        document.getElementById("submitbutton").className = "btn btn-lg btn-warning";
        document.getElementById("submitbutton").innerHTML = '<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" id="submitspan"></span> Scanning...';
    };
});
</script>


{% endblock %}