{% extends "base.html" %}

{% block style %}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#select-device {
  font-weight: bolder;
}

{% endblock %}

{% block body_block %}

<h1>Remote Scanner WebGUI</h1>
      <h3>Easily Scan your Documents / Images from your web-browser</h3>
      <h5>Software (c) Filip Rec</h5>
      <hr>
          <br>

          <form name="settings" id="settings" action="{{ url_for('scan_view') }}" method=POST>

            <div class="form-group">
              <label for="device">Device</label>
              <select name="device" id="select-device" class="form-control" required>
              <option>Wait for your devices to load!</option>
              </select>
            </div>

            <div class="form-group">
              <label for="format">Format</label>
              <select name="format" id="select-format" class="form-control">
                <option value="jpeg" selected>JPEG</option>
                <option value="png">PNG</option>
                <option value="tiff" disabled>TIFF (not implemented)</option>
              </select>
            </div>

            <div class="form-group">
              <label for="resolution">Resolution</label>
              <select name="resolution" id="select-resolution" class="form-control">
              </select>
            </div>
            
            <div class="form-group">
              <label for="mode">Color mode</label>
              <select name="mode" id="select-mode" class="form-control">
              </select>
            </div>

            <div class="form-group">
              <button type="submit" id="submitbutton" class="btn btn-lg btn-success" disabled>Scan</button>
            </div>   
          </form>

<script>

$.fn.isValid = function(){
    console.log(this[0].checkValidity())
    return this[0].checkValidity()
}

var devices

$(document).ready(function () {
    // var intputElements = document.getElementsByTagName("select");
    // for (var i = 0; i < intputElements.length; i++) {
    //     intputElements[i].oninvalid = function (e) {
    //         e.target.setCustomValidity("");
    //         if (!e.target.validity.valid) {
    //             if (e.target.name == "device") {
    //                 e.target.setCustomValidity("The field 'Device' cannot be left blank, make sure your scanner is connected and visible by running 'scanimage -L' from your command line.");
    //             }
    //         };
    //     };
    // };

  $.ajax({
    dataType: "json",
    url: "list_devices",
    success: function(result) {
      devices = result
      $("#submitbutton").removeAttr("disabled");
      $("#select-device").empty().css("font-weight", "normal");
      $.each(result, function(key, value) {
        $("#select-device").append($("<option></option>").attr("value", key).text(key));
      })

      // Initial form fill
      var values = devices[$("#select-device").val()]
      
      $( "select" ).not( "#select-device, #select-format" ).each(function() {
        $(this).empty();
        var select_name = $(this).attr('name');
        var select_id = $(this).attr('id');
        var select_values = values[select_name];

        $.each(select_values, function(key, value) {
          if (select_id == "select-resolution") {
            $("#"+select_id).append($("<option></option>").attr("value", value).text(value + " DPI"));
          }
          else {
            $("#"+select_id).append($("<option></option>").attr("value", value).text(value));        
          }
        });
      });
    },
    error: function() {
      $("#select-device").empty().css("background-color", "#c9302c").css("color", "white").append($("<option></option>").text("Failed to load devices, make sure your scanner is connected and visible by running 'scanimage -L' from your command line."));
      $("#submitbutton").attr("disabled", "disabled");
    }
  });
});

// Form fill on device change
$("#select-device").change(function () {
  var values = devices[$(this).val()]

  $( "select" ).not( "#select-device, #select-format" ).each(function() {
    $(this).empty();
    var select_name = $(this).attr('name');
    var select_id = $(this).attr('id');
    var select_values = values[select_name];
    
    $.each(select_values, function(key, value) {
      if (select_id == "select-resolution") {
        $("#"+select_id).append($("<option></option>").attr("value", value).text(value + " DPI"));
      }
      else {
        $("#"+select_id).append($("<option></option>").attr("value", value).text(value));        
      }
    });
  })
})


$('#settings').submit(function (event){
    if ($('#settings').isValid()) {
        $("#submitbutton").removeClass("btn-success").addClass("btn-warning").html('<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" id="submitspan"></span> Scanning...');
        // document.getElementById("submitbutton").className = "btn btn-lg btn-warning";
        // document.getElementById("submitbutton").innerHTML = '<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" id="submitspan"></span> Scanning...';
    };
});
</script>


{% endblock %}