{% extends "base.html" %}

{% block head_block %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link  href="https://cdn.rawgit.com/fengyuanchen/cropper/v0.11.1/dist/cropper.min.css" rel="stylesheet">
<script src="https://cdn.rawgit.com/fengyuanchen/cropper/v0.11.1/dist/cropper.min.js"></script>
{% endblock %}

{% block style %}
.cropper-example-3 {
  width: 100%;
}

.cropper-example-3 > img {
  max-width: 100%;
}

.modal-header {
  overflow-y: false;
  height: 60px;
}

.jumbotron p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
}

{% endblock %}

{% block body_block %}


<form name="settings" action="{{ url_for('get_uncropped') }}" method=POST>

            <div class="form-group">
              <label for="filename">Nazwa pliku</label>
              <input type="text" class="form-control" name="filename" id="filename" value="Scan" maxlength=8 required>
              <input type="hidden" name="temp_filename" value="yGa9ZTx2Gu.jpg">
            </div>
            <div class="text-center">
            <div class="btn-group">

  <button type="submit" id="submitbutton" class="btn btn-primary">Pobierz oryginał</button>

  <button type="button" class="btn btn-primary" id="rotate-left">
            
              <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
  <button type="button" class="btn btn-primary" id="rotate-right">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </button>        
  <button type="button" class="btn btn-primary" id="reset-button">
              <span class="glyphicon glyphicon-refresh"></span>
          </button>             
  <button type="button" class="btn btn-primary" id="get-cropped-button" data-toggle="modal" data-target="#canvas-modal">Pobierz wykadrowany</button>        

</div>
<p><strong>Kadrowanie zmienia format na .PNG (przezroczyste tło).</strong></p> 
</div>
</form>

<div id="cropper-example-3">
  <img src="img/temp/yGa9ZTx2Gu.jpg" alt="Picture">
</div>


<div class="modal fade" id="canvas-modal">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><a href="#" class="btn btn-primary" id="saveImageAs" download="cropped.png">Zapisz</a></h4>
              
      </div>
      <div class="modal-body">
          <canvas id="cropped-canvas"></canvas>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>





<script>
var $image = $('#cropper-example-3 > img')

$image.cropper({
  autoCropArea: 1,
});


$(document).ready(function() {
    $('#rotate-left').click(function() {
        $image.cropper("rotate", -45);
      });
    
    $('#rotate-right').click(function() {
        $image.cropper("rotate", 45);
      });

    $('#reset-button').click(function() {
        $image.cropper("reset");
      });   

    $('#get-cropped-button').click(function() {

        $('#canvas-modal').on('shown.bs.modal', function () {
            $(this).find('.modal-dialog').css({width:width+30,
                               height:height+80, 
                              'max-height':'100%'});
          });

        cropped_image_size = $image.cropper("getData")
        width = cropped_image_size.width
        height = cropped_image_size.height

        var canvas = document.getElementById("cropped-canvas");

        canvas.setAttribute('width', width)
        canvas.setAttribute('height', height)

        var image = $image.cropper('getCroppedCanvas');
        var ctx = canvas.getContext("2d");
        ctx.drawImage(image, 0, 0);

        var button = document.getElementById('saveImageAs');
        var filename = document.getElementById("filename").value;
        button.setAttribute('download', filename+".png")
        button.addEventListener('click', function (e) {
        var dataURL = canvas.toDataURL('image/png');
        button.href = dataURL;
        });
    });   
});



</script>

{% endblock %}